.about__wrapper {
    width: 100vw;
    height: auto;
}

.about__wrapper hr {
    color: #222222;
}

.about__content {
    padding: 64px 32px;
}

.about__title {
    font-size: 48px;
    margin-bottom: 32px;
}

.about__items {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.item__timeline::after {
    content: '';
    top: 1px;
    left: 0;
    height: calc(100% + 29px);

    width: 2px;

    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        var(--first-color) 0%,
        var(--second-color) 100%
    );

    margin-left: 17px;
    margin-top: 34px;

    z-index: -1;
    position: absolute;
}

.item {
    width: 100%;
    display: flex;
    position: relative;
}

.item .item__dot {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    margin-right: 16px;
    border-radius: 50%;

    z-index: 1;

    border: 2px solid;
}

.item .item__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    font-size: 20px;
}

.item .item__content .item__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.item .item__content .item__title h6 {
    opacity: 0.5;
    font-size: 16px;
}

.item .item__content .item__description {
    text-align: justify;
    font-weight: 300;
    font-size: 20px;
}
