:root {
    --page-primary: #ffab2d;
}

.portfolio__wrapper {
    width: 100vw;
    height: auto;
}

.portfolio__content {
    width: 100%;
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__buttons {
    display: flex;
    gap: 16px;
}

.portfolio__buttons button {
    background-color: transparent;
    border: none;
    color: rgb(116, 116, 116);
    font-size: 24px;
    font-family: "Lexend", sans-serif;
    text-transform: lowercase;
    padding: 4px 16px;
    border-radius: 5px;

    background-color: transparent;
    transition: background-color 0.25s;
}

.portfolio__buttons button:hover {
    background-color: rgba(116, 116, 116, 0.15);
}

.portfolio__buttons .selected {
    background-color: #ff005d34 !important;
    color: #FF005E;
}

.portfolio__cards {
    padding: 64px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 32px;
}