@media screen and (max-width: 575px) {
    .portfolio__cards {
        grid-template-columns: 1fr !important;
    }

    .portfolio__cards {
        padding: 16px !important;
    }

    .portfolio__buttons {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
    }

    .portfolio__buttons button {
        font-size: 18px !important;
        padding: 4px 8px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .portfolio__cards {
        grid-template-columns: 1fr 1fr !important;
    }

    .portfolio__cards {
        padding: 32 !important;
    }
}

.portfolio__wrapper {
    width: 100vw;
    height: auto;
}

.portfolio__content {
    width: 100%;
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__buttons {
    display: flex;
    gap: 16px;
}

.portfolio__buttons button {
    background-color: transparent;
    border: none;
    color: rgb(116, 116, 116);
    font-size: 24px;
    font-family: 'Lexend', sans-serif;
    text-transform: lowercase;
    padding: 4px 16px;
    border-radius: 5px;

    background-color: transparent;
    transition: background-color 0.25s;
}

.portfolio__buttons button:hover {
    background-color: rgba(116, 116, 116, 0.15);
}

.portfolio__buttons .selected {
    background-color: #ff005d34 !important;
    color: #ff005e;
}

.portfolio__cards {
    padding: 64px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 32px;
}
